body{
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #F4F1DE;
  color: #3D405B;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  
}

#div_resultados_hexadecimal_caixaColorida {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 15rem;
  width: 15rem;
  background-color: #81B29A;
  border: solid black 0.25rem;
  border-radius: 1rem;
  color: #FFFFFF;
}

#div_resultados_hexadecimal_caixaColorida p {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 13rem;
  width: 13rem;
  border-radius: 1rem;
}
