body {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f4f1de;
  color: #3d405b;
  font-size: x-large;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

button {
  background-color: #e07a50;
  border: none;
  color: #3d405b;
  padding: 1rem;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: x-large;
  text-align: center;
  text-decoration: none;
  border-radius: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #3d405b;
  color: #e07a50;
}

#ipt_numeroDecimal {
  height: 0.5rem;
  width: 20rem;
  border: solid #3d405b 0.2rem;
  border-radius: 1rem;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: large;
  padding: 1rem;
  text-align: center;
  color: #3d405b;
}

#div_resultados_hexadecimal_caixaColorida {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
  margin-bottom: 25px;
  padding: 0;
}

#div_resultados_hexadecimal_caixaColorida span {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 20rem;
  width: 20rem;
  border-radius: 1rem;
  color: #ffffff;
  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #81b29a;
}

footer {
  background-color: #3d405b; /* Fundo escuro para destacar o rodapé */
  color: white; /* Texto branco para melhor contraste */
  text-align: center;
}

/* distância entre o conteúdo da tag e as suas bordas*/
.interface {
  padding: 10px;
}

.line-footer1 h3 {
  font-size: 18px;
}

.line-footer2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-line-footer {
  display: flex;
  align-items: center;
  gap: 15px; /* Espaço entre os itens */
  margin-bottom: 10px;
}

/* Ajustando tamanho da imagem */
.box-line-footer img {
  width: 30px;
  height: 30px;
  opacity: 0.7;
}

/* Edita os links para o GitHub */
.box-line-footer a {
  color: white;
  text-decoration: none; /* Tira o sublinhado do texto */
  font-size: 16px;
}

/* Texto de copyright */
.line-footer2 p {
  font-size: 14px;
  opacity: 0.7;
}
